#order-summary {
  background: white;
  width: 327px;
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
}
@media screen and (min-width: 1440px) {
  #order-summary {
    width: 450px;
  }
}
#order-summary #banner-image {
  width: 100%;
  height: 160px;
  margin-bottom: 32px;
}
@media screen and (min-width: 1440px) {
  #order-summary #banner-image {
    height: 220px;
    margin-bottom: 45px;
  }
}
#order-summary #content-wrapper h1 {
  font-weight: 900;
  font-size: 22px;
  color: #1f2f56;
  margin-bottom: 16px;
  padding: 0 32px;
}
@media screen and (min-width: 1440px) {
  #order-summary #content-wrapper h1 {
    margin-bottom: 17px;
    padding: 0 48px;
  }
}
#order-summary #content-wrapper p {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: #7280a7;
  margin-bottom: 24px;
  padding: 0 32px;
}
@media screen and (min-width: 1440px) {
  #order-summary #content-wrapper p {
    margin-bottom: 20px;
    padding: 0 48px;
  }
}
#order-summary #content-wrapper #plan {
  padding: 16px;
  padding-top: 17px;
  margin: 0 24px;
  display: flex;
  align-items: center;
  background: #f5f7ff;
  border-radius: 11px;
  margin-bottom: 24px;
}
@media screen and (min-width: 1440px) {
  #order-summary #content-wrapper #plan {
    padding: 25px 24px;
    margin: 0 48px;
    margin-bottom: 32px;
  }
}
#order-summary #content-wrapper #plan #plan-icon {
  height: 48px;
  width: 48px;
  margin-right: 20px;
}
#order-summary #content-wrapper #plan #plan-info {
  text-align: left;
  display: flex;
  flex-direction: column;
}
#order-summary #content-wrapper #plan #plan-info #name {
  font-weight: 900;
  font-size: 14px;
  margin-bottom: 3px;
  color: #1f2f56;
}
#order-summary #content-wrapper #plan #plan-info #price {
  font-weight: 500;
  font-size: 14px;
  color: #7280a7;
}
@media screen and (min-width: 1440px) {
  #order-summary #content-wrapper #plan #plan-info #name {
    font-size: 16px;
  }
  #order-summary #content-wrapper #plan #plan-info #price {
    font-size: 15px;
  }
}
#order-summary #content-wrapper #plan #change-plan {
  font-weight: bold;
  font-size: 13px;
  color: #3829e0;
  margin-left: auto;
  text-align: right;
}
@media screen and (min-width: 1440px) {
  #order-summary #content-wrapper #plan #change-plan {
    font-size: 14px;
  }
}
#order-summary #content-wrapper #payment-button {
  background: #3829e0;
  display: block;
  margin: 0 24px;
  font-weight: 900;
  font-size: 15px;
  color: white;
  text-decoration: none;
  padding: 15px 0;
  text-align: center;
  border-radius: 11px;
  box-shadow: 0px 20px 20px rgba(56, 42, 225, 0.190291);
  margin-bottom: 24px;
}
@media screen and (min-width: 1440px) {
  #order-summary #content-wrapper #payment-button {
    margin-bottom: 32px;
  }
}
#order-summary #content-wrapper #cancel-order {
  display: block;
  color: #7280a7;
  font-weight: 900;
  font-size: 15px;
  line-height: 20px;
  text-decoration: none;
  margin-bottom: 32px;
}
@media screen and (min-width: 1440px) {
  #order-summary #content-wrapper #cancel-order {
    margin-bottom: 48px;
  }
}

/*# sourceMappingURL=index.css.map */
